*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid red;
}
.header{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}



.text{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}
.text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.text p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    margin-top: 5px;
    display: flex;
    span{
        color: rgb(20, 220, 80);
    }
}
.text .card{
    
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    img{
        margin-right: 40px;
        width: 300px;
        height: 250px;
    }
}
.text .card{
    transform: translateY(40px);
}
